# Ignore virtual environment folder
flower_classifier_env/

# Ignore Python bytecode files
__pycache__/

# Ignore checkpoints (if you don't need them in the repo)
checkpoints/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore operating system specific files
.DS_Store
Thumbs.db
